<style>
    html, body {
        margin: 0;
        height: 98%;
    }

    body {
        background: url("static/images/app_form.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    p {
        color: white;
        font-size: 120%;
    }

    .white{
        color: white;
    }

    .parent {
        display: flex; /* contexte sur le parent */
        flex-direction: column; /* direction d'affichage verticale */
        justify-content: center; /* alignement vertical */
        height: 100%;
    }

    .center_div {
        position: fixed;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        min-height: auto;
        max-width: 20%;
        top: 80%;
    }
</style>