<style>
    html, body {
        margin: 0;
        height: 98%;
    }
    body {
        background: url("static/images/welcome_property.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .parent {
        display: flex; /* contexte sur le parent */
        flex-direction: column; /* direction d'affichage verticale */
        justify-content: center; /* alignement vertical */
        height: 100%;
    }
    .white {
        color: white;
    }
    .snow {
        color: snow;
    }
    #button_welcome {
        max-width: auto;
    }
</style>